/**
 * Deli theme customizations.
 */

.storefront-breadcrumb {
    margin-bottom: 0 !important;
}

.woocommerce-breadcrumb {
    margin-bottom: 0 !important;
}

.deli-primary-navigation {
    margin-bottom: 0 !important;
}

#order_review_heading {
    width: 100%;
}

#site-navigation {
    margin-right: 0;
    width: 77%;
}

#menu-main {
    float: none;
    display: flex;

    .menu-item:last-child {
        margin-left: auto;
        border-right: none;
    }
}

.woocommerce-mini-cart__total strong {
    font-weight: normal;
}

.site-header {
    margin-bottom: 1rem !important;
}

.storefront-breadcrumb {
    padding: 0;
    margin: 1rem 0 !important;
}

@media (max-width: 767px) {
    .storefront-breadcrumb {
        padding-left: 1.618em;
    }

    body:not(.page-template-template-homepage) .site-main {
        padding: 0.618em;
    }

    #site-navigation {
        width: 100%;
    }
}

/**
 * Quiz
 */

#quizzContainer {
    z-index: 2;
}

.pdarkblue {
    // background-color: #555B6E !important;
}

.quizzcard {
    // background-color: #89B0AE;
    max-height: 1000px;
}

#cancleQuizzButton {
    height: 30px;
    width: auto;
}

#cancleQuizzButton,
#quizzLeftArrow,
#quizzRightArrow,
[id^="contentAnswer"] {
    &:hover {
        cursor: pointer;
    }
}

#footer {
    position: fixed;
    bottom: 0;


}

#answerImage {
    max-height: 250px;
}

.answerImage3_6 {
    max-height: 200px;
}

#answer1Image {
    max-height: 800px;
}

#searchbutton {
    height: 60px;
    width: 60px;
    background-color: #89B0AE;
}

#searchbuttonImage {
    width: 60%;
    height: auto;
}

@media (min-width:960px) {
    #searchbutton {
        height: 90px;
        width: 90px;
        ;
    }
}

/**
 * Footer nav
 */

.site-footer {
    .widget.widget_nav_menu {
        .widget-title {
            padding-bottom: 0;
            margin-bottom: .75rem;
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }
}


/**
 * Branding
 */

@media (min-width: 768px) {
    .storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
        width: 36.7391304348%;
        float: left;
        margin-right: 4.347826087%;
    }

    .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
        width: 32.8260869565%;
        float: left;
        margin-right: 4.347826087%;
    }
}

.site-branding .site-description {
    display: block;
}

/**
 * WooCommerce
 */

.woocommerce-tabs .panel {
    blockquote+h2, blockquote+h3, blockquote+h4, blockquote+header h2, form+h2, form+h3, form+h4, form+header h2, ol+h2, ol+h3, ol+h4, ol+header h2, p+h2, p+h3, p+h4, p+header h2, table+h2, table+h3, table+h4, table+header h2, ul+h2, ul+h3, ul+h4, ul+header h2 {
        margin-top: 1.490684em;
    }

    h2 {
        &, &:first-of-type {
            font-size: 1.618em;
            line-height: 1.214;
            margin-bottom: 0.75rem;
        }
    }

    h3 {
        font-size: 1.418em;
    }

    h4 {
        font-size: 1.21575em;
    }
}

/**
 * Utilities
 */

figure.fig-fluid {
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

/**
 * Homepage
 */
.home.page-template-template-fullwidth .hentry .entry-content {
    >.wp-block-cover, >.wp-block-image {
        margin-bottom: 2.735801rem;
    }
}
